/* 💚💚💚💚 GRID 💚💚💚💚 */

/* 👩‍💻 start here 👨‍💻

1. Mach deinen Container zu einem Grid
2. Definiere ein 3 Spalten-Layout:
        - das erste item in einer Reihe soll immer 150px breit sein
        - das zweite soll die Hälfte der Reihe einnehmen
        - das dritte item soll jeweils den Rest ausfüllen
3. Corona-Gefahr!😷 Deine Grid Items brauchen mind. 3px Abstand zueinander
4. Ändere nun das Grid in ein 2 Spalten Layout um. Die letzte Reihe sollte dabei doppelt so hoch sein wie die anderen
5. Ändere das Grid  mit Fractures in ein 4 Spalten Layout, wo jede Spalte doppelt so breit sein soll wie ihr Vorgänger. Benutze dafür fractures.
6. Nun sollen auch die Grössen der Reihen mit Fractures definiert werden. Benutze repeat um alle Reihen gleich gross zu machen.
Fasse alle Grössenangben deines Grids auf einer Zeile zusammen.
*/

.grid-container {
    font-size: 5rem;
    color: white;
    /* ✅  1. Mach deinen Container zu einem Grid */
    display: grid;
    /* ✅ 2. Definiere ein 3 Spalten-Layout:
        - das erste item in einer Reihe soll immer 150px breit sein
        - das zweite soll die Hälfte der Reihe einnehmen
        - das dritte item soll jeweils den Rest ausfüllen
      */
    grid-template-columns: 150px 50% auto;
    /*  ✅ 3. Corona-Gefahr!😷 Deine Grid Items brauchen mind. 3px Abstand zueinander */
    grid-gap: 3px;
    /* 4. Die erste Reihe soll nun 80px und die zweite doppelt so hoch sein */
    grid-template-rows: 80px 160px;

    /*  ✅ 4. Ändere nun das Grid in ein 2 Spalten Layout um. Die letzte Reihe sollte dabei doppelt so hoch sein wie die anderen */
    grid-template-columns: 300px auto;
    grid-template-rows: 100px 100px 200px;

    /* ✅ 5. Ändere das Grid in ein 4 Spalten Layout, wo jede Spalte doppelt so breit sein soll wie ihr Vorgänger
      Benutze dafür fractures */
    grid-template-columns: 1fr 2fr 4fr 8fr;

    /* ✅ 6. Nun sollen auch die Grössen der Reihen mit Fractures definiert werden. Benutze repeat um alle Reihen gleich gross zu machen.*/
    /*Fasse alle Grössenangben deines Grids auf einer Zeile zusammen. */
    grid-template: repeat(2, 1fr) / 1fr 2fr 4fr 8fr;
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container > div:hover {
    filter: brightness(90%);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
}

/* ------ grid end ----- */


/* ------ dont mind me 🤫 ----- */

.inlay {
    max-width: 900px;
    padding: 0 2rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 8rem 0 6rem 0;
}

html, body {
    height: 100%;
    background: #2f2f2fff;
    color: #28cf60;
    font-size: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto Mono', monospace;
}

.honey {
    background: goldenrod;
}

.beige {
    background: lightcoral;
}

.turquoise {
    background: cadetblue;
}