/* 💚💚💚💚 GRID 💚💚💚💚 */

/* 👩‍💻 start here 👨‍💻

1. Mach deinen Container zu einem Grid
2. Definiere ein 3 Spalten-Layout:
        - das erste item in einer Reihe soll immer 150px breit sein
        - das zweite soll die Hälfte der Reihe einnehmen
        - das dritte item soll jeweils den Rest ausfüllen
3. Corona-Gefahr!😷 Deine Grid Items brauchen mind. 3px Abstand zueinander
4. Ändere nun das Grid in ein 2 Spalten Layout um. Die letzte Reihe sollte dabei doppelt so hoch sein wie die anderen
5. Ändere das Grid mit Fractures in ein 4 Spalten Layout, wo jede Spalte doppelt so breit sein soll wie ihr Vorgänger
6. Nun sollen auch die Grössen der Reihen mit Fractures definiert werden. Benutze repeat um alle Reihen gleich gross zu machen.
   Fasse alle Grössenangben deines Grids auf einer Zeile zusammen.
*/

.grid-container {
    font-size: 5rem;
    color: white;
}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container > div:hover {
    filter: brightness(90%);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
}

/* ------ grid end ----- */


/* ------ dont mind me 🤫 ----- */

.inlay {
    max-width: 900px;
    padding: 0 2rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 8rem 0 6rem 0;
}

html, body {
    height: 100%;
    background: #2f2f2fff;
    color: #28cf60;
    font-size: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto Mono', monospace;
}

.honey {
    background: goldenrod;
}

.beige {
    background: lightcoral;
}

.turquoise {
    background: cadetblue;
}