/* 💚💚💚💚 GRID 💚💚💚💚 */

/* 👩‍💻 start here 👨‍💻
1. Setze das Page Layout aus den Folien um
*/

.grid-container {
    font-size: 5rem;
    color: white;
}

.header {}

.menu {}

.content {}

.footer {}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container > div:hover {
    filter: brightness(90%);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
}

/* ------ grid end ----- */


/* ------ dont mind me 🤫 ----- */

.inlay {
    max-width: 900px;
    padding: 0 2rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 8rem 0 6rem 0;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

html, body {
    height: 100%;
    background: #2f2f2fff;
    color: #28cf60;
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
}

.honey {
    background: goldenrod;
}

.beige {
    background: lightcoral;
}

.turquoise {
    background: cadetblue;
}

.darksea {
    background: darkseagreen;
}