/* 💚💚💚💚 GRID 💚💚💚💚 */

/* 👩‍💻 start here 👨‍💻

1. Mach deinen Container zu einem Grid
2. Definiere ein 3 Spalten-Layout:
        - das erste item in einer Reihe soll immer 150px breit sein
        - das zweite soll die Hälfte der Reihe einnehmen
        - das dritte item soll jeweils den Rest ausfüllen
3. Corona-Gefahr!😷 Deine Grid Items brauchen mind. 3px Abstand zueinander
4. Ändere nun das Grid in ein 2 Spalten Layout um. Die letzte Reihe sollte dabei doppelt so hoch sein wie die anderen
5. Ändere das Grid in ein 4 Spalten Layout, wo jede Spalte doppelt so breit sein soll wie ihr Vorgänger
6. Nun sollen auch die Grössen der Reihen mit Fractures definiert werden. Benutze repeat um alle Reihen gleich gross zu machen.
   Fasse alle Grössenangben deines Grids auf einer Zeile zusammen.

*/

/*INTRO*/
/*init grid, set col and row dimensions in diff. formats*/

/*-->exercises 1-4*/

/*using fractures, responsive!*/

/*putting it all into one line*/

/*-->exercises 4-6 */
/*--------------------------------*/

/*POS*/
/* span an elem. across multiple cols */

/*putting it into one line*/

/* the flexible way -1 */

/* span an elem. across multiple rows */

/*-->exercise */

/*using grid template areas, dots for blanks*/
/*-->exercise */
/*--------------------------------*/
/*RESP*/

/* using auto-width */

/* auto-w not working with fr, minmax */

/* show that rows wont use defined size if there are more than specified */
/*https://youtu.be/t6CBKf8K_Ac?t=1629*/
/*auto-rows*/

/*image gallery exercise*/
/*span a elem over multiple colums -> problem with gaps, use auto start*/

/*span ele over mutl. rows, same problem */

/*-->exercise: img gallery */

/*centering a grid within its container*/

/*--------------------------------*/


.grid-container {
    font-size: 5rem;
    color: white;

    /*gallery*/
    /*display: grid;*/
    /*grid-template-columns: repeat(auto-fit, minmax(100px,auto));*/
    /*grid-template-rows: repeat(3, 100px);*/
    /*grid-template-rows: repeat(2, 1fr);*/
    /*height: 500px;*/
    /*background: darkslategrey;*/
}

.first {
}

.second {
    /*gallery - problem with gaps */
    /*grid-column: 3 / span 3;*/
}

.third {
}

.fourth {
}

.fifth {}

.sixth {}

.seventh {}

.eighth {}

.ninth {}

.grid-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #28cf60ff;
    border: 1px solid white;
}

.grid-container > div:hover {
    filter: brightness(90%);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
}

/* ------ grid end ----- */


/* ------ dont mind me 🤫 ----- */

.inlay {
    max-width: 900px;
    padding: 0 2rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 8rem 0 6rem 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

html, body {
    height: 100%;
    background: #2f2f2fff;
    color: #28cf60;
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;
}


/*grid-template-columns:*/
/*grid-template-rows:*/
/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
/*grid-template: repeat(2, 1fr) / 1fr 2fr 4fr 8fr;*/


/*POSITIONING*/

/*grid-column-start: 1;*/
/*grid-column-end: 3;*/

/*grid-column: 1 / 3; */

/*span all the way, more flexible*/
/*grid-column: 1 / -1; */

/*create 12 column grid*/
/*grid-template-columns: repeat(12, 1fr);*/

/*grid-row: 1 / -1; */

/*grid-template-areas:*/
/*"m h h h h h h h h h h h h h"*/
/*"m h h h h h h h h h h h h h"*/
/*"m h h h h h h h h h h h h h";*/


/*grid-template-columns: repeat(auto-fit, 100px);*/
/*grid-template-columns: repeat(auto-fit, minmax(100px, auto);*/

/*grid-auto-rows: 100px;*/

/*gallery*/
/*grid-column: auto / span 3;*/

/*grid-auto-flow: dense;*/

/*justify-content: space-between;*/
/*justify-content: space-evenly;*/